body {font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
* {box-sizing: border-box;}

header {
    height: 5.5%;
    padding: 1%;
}

@media screen and (min-width:1px) and (max-width:1365px) {

}
@media screen and (min-width:1366px) {

}
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

h3 {
        border-bottom: .2% solid teal;
        color: teal;
        font-size: 2.5vw;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1.2%;
    border: .1% solid #ccc;
    border-radius: .4%;
    box-sizing: border-box;
    margin-top: .6%;
    margin-bottom: 1.6%;
    resize: vertical;
}

input[type=submit] {
    background-color: teal;
    color: white;
    padding: 1.2% 2%;
    border: none;
    border-radius: .4%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: teal;
}

.container {
    border-radius: .5%;
    background-color: #f2f2f2;
    width: 96%;
    position: static;
    padding: 2%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    margin-bottom: 100%;
}

.Logo {
    
    left: 5%;
    background-color: teal;
    position: absolute;
    width: 16%;
    bottom: 0;
    top: 2%;
    float: left;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 2.5vw;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.Main-Bar {
    background-color: #ffffff;
    position: relative;
    text-align: right;
    height: 10%;
    padding: 3.5%;
    border: #cccccc;
}

/* .Webpage {
    background-color: red;
    height: 60%;
} */

.Footer{
    border-style: solid;
    border-color: cadetblue;
    border-width: .5%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #666666;
    width: 100%;
    height: 5%;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    text-align: center;
    color: white;
    padding: 1.5%;
 }

a:link {
    text-decoration: none;
}

.profile {
    border-radius: .5%;
    background-color: #f2f2f2;
    width: 96%;
    position: static;
    padding: 1%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    padding-bottom: 4%;
    margin-bottom: 10%;
}

img {
    float: left;
    margin-right: 1.5%;
}

  .portfolio {
    border-radius: .5%;
    background-color: #f2f2f2;
    width: 96%;
    position: static;
    padding: 2%;
    height: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    margin-bottom: 100%;
  }
    .clearfix {
        overflow: auto;
    }

     .picbox {
        width: 275px;
        height: 119px;
        margin: 40px 10px 40px 40px;
        float: left;
    } 
        
    .picwords {
        font-family: "'Georgia', Times, 'Times New Roman', serif";
        position: relative;
        top: 185px;
        z-index: 1;
        text-align: center;
        background: #4aaaa5;
        color: #eeeeee;
        height: 55px;
        width: 275px;
        padding-top: 15px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        /* vertical-align: middle; */
        line-height: 1.4em;
    }

    .push {
        height: 150px;
        margin-bottom: -50px
    }
    
    